// FONTS

$font-primary: 'Lato', sans-serif;
$font-logo: 'Playfair Display', serif;

// COLORS

$color1: #ECECEC;                // background color
$color2: #E92569;                // color logo, button go, active button in carusel, headers
$color3: #ffffff;                // inputs color
$color4: #EFEFEF;                // form background color
$color5: #767676;                // btn-contact, label, text, contact-info, icon color
$color6: #F5F5F5;                // tabs mobile background color
$color7: #C7C7C7;                // tabs mobile background color
$color8: #0A0A0A;                // nav links, tab social icon color