.navbar {
  min-height: 8vh;
}

.container {
  .navbar-brand {
    font-family: $font-logo;
    font-size: 20px;
    color: $color2;
    font-weight: 800;
    font-style: italic;
    pointer-events: none;
  }
}

.current-page {
  background-color: $color3;
}

.navbar-light .navbar-nav .nav-link {
  color: $color8;
}

.me-2 {
  border: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 0 !important;
}

.btn-outline-success {
  background-color: $color2;
  color: $color3;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border: none;
  transition: 0.7s ease all;
  &:hover {
    background-color: $color3;
    color: $color2;
  }
}

.carousel .carousel-indicators .active {
  background-color: $color2;
}

.carousel-indicators [data-bs-target] {
  height: 28px;
  background-color: $color3;
  opacity: 1;

  &:nth-child(2) {
    margin: 0 1rem 0 1rem;
  }
}

.main-page-header {
  font-family: $font-logo;
  font-style: normal;
  font-size: 34px;
  color: $color2;
}

.hero-text {
  height: 28vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.nav-link .active {
  background-color: $color3;
}

.nav-tabs .nav-link {
  font-size: 19px;
  padding: 15px 0;
  width: 12%;
  border-top-left-radius: 9px;
  border-top-right-radius: 9px;
}

.nav-tabs .nav-link.active {
  border-color: transparent;
}

.nav-tabs .nav-link.active {
  color: $color5;
}

.nav-tabs .nav-link {
  color: $color2;
}

.tab-content {
  background-color: $color3;
  border-radius: 9px;
  border-top-left-radius: 0;
}

.tabs-wrapper {
  height: 90vh;
}

.nav.nav-tabs {
  margin-bottom: -12px;
}

.nav-tabs .nav-link.active {
  border-color: $color3;
}

.nav-tabs .nav-link{
  border: none;
  padding: 20px;
}

.tab-social-icon {
  height: 10vh;
  color: $color8;
  font-size: 30px;
  font-weight: 100;
  p {
    color: $color8;
    display: inline-block;
  }
  & > * {
    margin-right: 20px;
  }
}

footer {
  display: flex;
  align-items: center;
  background-color: $color3;
  color: $color5;
  min-height: 8vh;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-social-icon {
  flex: 45%;
  font-size: 40px;
}

.text-box {
  display: flex;
  flex: 55%;
  justify-content: space-between;
  p{
    margin-bottom: 0em;
  }
}



@media screen and (max-width: 800px) {

  .navbar {
    position: fixed;
    z-index: 99;
    width: 100%;
    min-height: auto ;
    .container {
      width: 95%;
    }
}

  .collapse {
    height: 240px;
    z-index: 1;
    transition: all .5s ease-out;
}

.navbar-light .navbar-toggler  {
  border-color: rgba(0,0,0,0);
}

.navbar-toggler:focus {
  color: transparent;
  box-shadow: 0,0,0,0;
}

.slider-image{
    height: 180px;
    margin-top: 50px;
}

.navbar-collapse {
  width: 500px;
}

.navbar-nav .nav-link {
  padding-left: 20px;
  margin-bottom: 20px;
}

.nav-link.active {
  width: 100%;
}

  .hero-text {
    height: auto;
    margin: 20px;
    width: 90%;
  }

  .accordion {
    width: 90%;
    height: 740px;
    margin: 0 auto;
  }

  .accordion-collapse.collapse {
    height: 450px;
  }

  .accordion > .accordion-item:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .accordion-button {
    color: $color2;
    border-top-left-radius: 15px !important;
    border-top-right-radius: 15px !important;

    &:not(.collapsed) {
      color: $color2;
      background-color: $color3;
    }
    &::after {
      background-image: none !important;
    }
  }

  .accordion > .accordion-item:last-child {
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
  }

  .accordion-button.collapsed:last-child {
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
  }

  .accordion-button {
    border-bottom: 1px solid $color2;
  }
  .accordion-button.collapsed {
    border-bottom: none;
  }

  .tab-social-icon {
    text-align: center;
  }

  .accordion-body {
    background-color: $color6;
    height: auto;
    display: block;
  }

  footer {
    height: 160px;
  }

  .footer-content {
    display: flex;
    flex-direction: column;
    max-width: 90vw;
    height: 100%;
  }

  .icon-box {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    height: 70px;
    width: 100px;
    margin-bottom: 25px;
  }

  .text-box {
    justify-content: space-between;
    width: 100%;
  }
}
